# URL
APP_FULL_BASE_URL=https://passbolt.local:8080

# Passbolt database settings
DATASOURCES_DEFAULT_HOST=db
DATASOURCES_DEFAULT_USERNAME=passbolt
DATASOURCES_DEFAULT_PASSWORD=p@ssw0rd
DATASOURCES_DEFAULT_DATABASE=passbolt

# MySQL
MYSQL_RANDOM_ROOT_PASSWORD=true                                                            
MYSQL_DATABASE=passbolt
MYSQL_USER=passbolt
MYSQL_PASSWORD=p@ssw0rd

